
/* Está sendo inserido uma nova regra de fonte, colocando o nome e a localização dessa fonte*/
@font-face {
    font-family: Roboto;
    src: url("../..fonts/roboto.ttf");
    }

/* Está sendo inserido a fonbte, tamanho da letra e a localização da imagem que será colocada na página*/
body {
    font-family: "Roboto, sans-serif";
    font-weight: 300;
    background-image: url("../../fonts/roboto.ttf");
    }

/* Está sendo configurado o menu de navegação, com a cor primária definida que aparece na pagina e a cor das bordas no canto inferior direito e esquerdo */
    nav {
        background: #7e4ed3;
        border-radius: 0 0 1rem 1rem;
            }
/* Dentro do menu de navegação, possui a lista e os itens que foram configurados para ficar lado a lado e um a margem*/
    nav ul li {
        display: inline-block;
        margin: 9 2rem;

/* Para configurar os links da parte superior (Inicio, Formação Profissional, Formação Educacional e Contato) e deixar com as letras brancas, espaçamentos em cima e abaixo e a largura*/        
    }
    nav ul li a{
        color: #fff;
        padding: 1.5rem 5rem;
        display: block;
        position: relative;
          }
/* Na parte superior onde tem Inicio, Formação e Contato aparece uma linha branca, para isso terá a configuração abaixo */

    nav ul li :after {
        content:"" ;
        width: 0;
        height: 2px;
        background: #fff;
        position: relative;
        left: 0px;
        top: 0;
        transition: 0.3s;
    }  


/* Está configurando a linha somente quando passar o mouse em cima */    
    nav ul li a:hover:after,
    nav ul li a.active:after {
        width: 100%;
    }
/* Está configurando a margem da classe intro */ 
    section.intro {
        margin: 4rem 0;
    }

/* Está configurando a largura da classe intro para não ultrapassar */ 
    section.intro.devices {
        width: 80%;
        text-align: center
    }
    h1 {
        margin: 0,7rem 0;
           }

    p {
        margin-bottom: 1rem;
    }
/* Foi criado o pseudo elemento que vem antes para ajustar a configuração da borda que é mais clara, onde está localizada na coluna atrás de "Um pouco sobre meus hobbies"  */      
    section.about:before {
        content: "";
        width: 700px;
        height: 200px;
        background:rgba(126, 78, 211, 0.5);
        position:absolute; 
        right:-3rem;
        top: -3rem;
        z-index: -1;
        transform: rotate(-6deg);
    }

/* Está configurando a classe about que fala "Um pouco sobre meus hobbies" */
    section.about {
        background: #7e4ed3;
        color: #fff;
        padding: 3rem 0 5rem 0;
        border-radius: 0 0 1rem 1rem;
        position: relative;
        margin-top: 8rem; 
    }

/* Foi criado o pseudo elemento para ajustar a configuração da borda que está atrás da coluna atrás de "Um pouco sobre meus hobbies"  */      
    section.about:after {
        content: "";
        width: 120%;
        height: 200px;
        background: #7e4ed3;
        position: absolute;
        left: -3rem;
        top: -2.4rem;
        transform: rotate(3deg);
        z-index: -1;
    }
/* Foi criado para configurar a cor das palavras dentro do "Um pouco sobre meu hobbies", para dar destaque */ 
    a {
        color: #33D1C5
    }
/* A rolagem seja invisivel para não mostrar atrás do "Um pouco sobre meu hobbies" e ficar centralizado  */ 
    main {
        overflow-x: hidden;
    }
/* Está configurando o container de "Assuntos de interesses" na linha abaixo di título */ 
    section.skills {
        margin: 5rem 0;
    }
/* Está configurando a lista do "Assuntos de interesses" */ 
    section.skills ul li {
        background:rgba(126, 78, 211, 0.1);
        border-radius: 100rem;
        margin: 0.5rem 0;
    }

/* Está configurando a animação na lista quando passa o mouse em cima do "Assuntos de interesses" */ 
    section.skills ul li span {
        color: #fff;
        background: #7e4ed3;
        border-radius: 100rem;
        padding: 0.3rem 1rem;
        display: block;
        font-size: 0.9rem;
        transition: widht 0.3s;
            }

/*Como a última declaração é o que está no código que prevalece, a animação da lista quando passa o mouse em cima a largura não estã em 100%
Para isso é só colocar !important para que esse comando seja executado */ 
    section.skills ul li span:hover {
        width: 100% !important;
    }
/* O footer é a nota de rodapé que possui meu nome, curso e área de trabalho */ 
    footer {
        background: #7e4ed3;
        padding: 2rem 0;
        color: #fff;
        text-align: center;
        border-radius: 1rem 1rem 0 0;
    }
/* Vai ajustar a margem da nota de rodapé */
    footer p {
        margin: 0;
    }
/* Vai ajustar a nota de rodapé conforme o tamanho da página, como por exemplo no contato que o conteúdo é menor que o index */
    
footer.absolute {
        position: absolute;
        bottom: 0;
        width: 100%;
    }
/* Vai ajustar o formulário dentro de contato com o espaçamento */
    section.contact {
        margin: 3rem 0;
    }

/* Vai ajustar o formulário dsa área dentro de contato */
    input,
    textarea {
        display: block;
        border-radius: 0.5rem;
        margin: 0.5rem 0;
        padding: 0.5rem 1rem;
        border: 1px solid #c3c3c3;
        width: webkit-fill-available;
    }

    textarea {
        resize: none;
    }

   


